In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### (1)  Practice with decoding time in Pandas, Part I
**Insructions**
- (a.) Read in the tidal gauge data from Antarctica (circa an earlier assignment; new version found in the folder with these exercises, '20041226.txt'), but now the full, messier data file
<br><br>

*Create the datetime64 objects TWO different ways*
- (b.) pass the three time-related columns to pd.to_datetime and leverage the 'format' argument....useful to know how in case you encounter extra-complicated date-time data in future
<br><br>
- (c.) get the three time-related columns in the right format, such that pd.to_datetime can natively decode them, when passing to pd.to_datetime 
<br><br>
- for both ways, save your datetime objects to a new column, print this new column, and print the type of the column, to prove to yourself what you have done

In [4]:
# (a.)
df = pd.read_csv('data/week10/20041226.txt', delimiter=' ')
df

      YEAR  MM/DD     UTC+3  Unnamed: 3  Unnamed: 4  Tide(cm)
0     2004  12/26  00:00:00        1250         NaN       NaN
1     2004  12/26  00:00:30        1250         NaN       NaN
2     2004  12/26  00:01:00        1250         NaN       NaN
3     2004  12/26  00:01:30        1250         NaN       NaN
4     2004  12/26  00:02:00        1250         NaN       NaN
...    ...    ...       ...         ...         ...       ...
2875  2004  12/26  23:57:30        1258         NaN       NaN
2876  2004  12/26  23:58:00        1256         NaN       NaN
2877  2004  12/26  23:58:30        1249         NaN       NaN
2878  2004  12/26  23:59:00        1240         NaN       NaN
2879  2004  12/26  23:59:30        1231         NaN       NaN

[2880 rows x 6 columns]

In [18]:
# (b.)
cols = ['YEAR', 'MM/DD', 'UTC+3']
df['date1'] = df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
df['date1'] = pd.to_datetime(df['date1'], format='%Y-%m/%d-%H:%M:%S')
print(type(df['date1']))
print()
print(df['date1'])

<class 'pandas.core.series.Series'>

0      2004-12-26 00:00:00
1      2004-12-26 00:00:30
2      2004-12-26 00:01:00
3      2004-12-26 00:01:30
4      2004-12-26 00:02:00
               ...
2875   2004-12-26 23:57:30
2876   2004-12-26 23:58:00
2877   2004-12-26 23:58:30
2878   2004-12-26 23:59:00
2879   2004-12-26 23:59:30
Name: date1, Length: 2880, dtype: datetime64[ns]

In [24]:
# (c.)
df['year_strs'] = df['YEAR'].apply(str)
df['month_day_strs'] = df['MM/DD'].apply(str)
df['time_strs'] = df['UTC+3'].apply(str)
df['combo_time_strs'] = df['year_strs'] + df['month_day_strs'] + df['time_strs']
df['combo_time_strs'] = df[['year_strs', 'month_day_strs', 'time_strs']].agg('-'.join, axis=1)
df['combo_time_strs'] = df['combo_time_strs'].str.replace('/','-')
pd.to_datetime(df['combo_time_strs'])

0      2004-12-26 00:00:00
1      2004-12-26 00:00:30
2      2004-12-26 00:01:00
3      2004-12-26 00:01:30
4      2004-12-26 00:02:00
               ...
2875   2004-12-26 23:57:30
2876   2004-12-26 23:58:00
2877   2004-12-26 23:58:30
2878   2004-12-26 23:59:00
2879   2004-12-26 23:59:30
Name: combo_time_strs, Length: 2880, dtype: datetime64[ns]

### (2)  Practice with decoding time in Pandas, Part II
**Instructions**
- (a.) Read in radiation data collected every 30 minutes near Champaign ('889299_40.13_-88.26_2019.csv')....since you've been working with different types of radiation data lately!
    - You WILL need to add something extra to your pd.read_csv statement, yes?
<br><br>
- (b.) Take columns containing date-time information and create *datetime64* objects, save to a new column, print this new column, and print the type of the new column
<br><br>
- (c.) We'll work more with this data soon - likely next week!

In [58]:
# (a, b)
df = pd.read_csv(
    'data/week10/889299_40.13_-88.26_2019.csv', 
    header=2, 
    parse_dates=[1,2,3,4,5]).dropna(axis='columns')
df['2spooky4u'] = pd.to_datetime(df[['Year','Month','Day', 'Hour', 'Minute']].astype(str).apply(' '.join, 1), format='%Y %m %d %H %M')
print(df['2spooky4u'])

0       2019-01-01 00:00:00
1       2019-01-01 00:30:00
2       2019-01-01 01:00:00
3       2019-01-01 01:30:00
4       2019-01-01 02:00:00
                ...
17515   2019-12-31 21:30:00
17516   2019-12-31 22:00:00
17517   2019-12-31 22:30:00
17518   2019-12-31 23:00:00
17519   2019-12-31 23:30:00
Name: 2spooky4u, Length: 17520, dtype: datetime64[ns]