In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

### (1)  Practice with decoding time in Pandas, Part I
**Insructions**
- (a.) Read in the tidal gauge data from Antarctica (circa an earlier assignment; new version found in the folder with these exercises, '20041226.txt'), but now the full, messier data file
<br><br>

*Create the datetime64 objects TWO different ways*
- (b.) pass the three time-related columns to pd.to_datetime and leverage the 'format' argument....useful to know how in case you encounter extra-complicated date-time data in future
<br><br>
- (c.) get the three time-related columns in the right format, such that pd.to_datetime can natively decode them, when passing to pd.to_datetime 
<br><br>
- for both ways, save your datetime objects to a new column, print this new column, and print the type of the column, to prove to yourself what you have done

In [15]:
# (a.)
df = pd.read_csv('data/week10/20041226.txt', delimiter=' ')

0      2004-12-26 00:00:00
1      2004-12-26 00:00:30
2      2004-12-26 00:01:00
3      2004-12-26 00:01:30
4      2004-12-26 00:02:00
               ...
2875   2004-12-26 23:57:30
2876   2004-12-26 23:58:00
2877   2004-12-26 23:58:30
2878   2004-12-26 23:59:00
2879   2004-12-26 23:59:30
Name: date, Length: 2880, dtype: datetime64[ns]

In [18]:
# (b.)
cols = ['YEAR', 'MM/DD', 'UTC+3']
df['date1'] = df[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
df['date1'] = pd.to_datetime(df['date1'], format='%Y-%m/%d-%H:%M:%S')
print(type(df['date1']))
print()
print(df['date1'])

<class 'pandas.core.series.Series'>

0      2004-12-26 00:00:00
1      2004-12-26 00:00:30
2      2004-12-26 00:01:00
3      2004-12-26 00:01:30
4      2004-12-26 00:02:00
               ...
2875   2004-12-26 23:57:30
2876   2004-12-26 23:58:00
2877   2004-12-26 23:58:30
2878   2004-12-26 23:59:00
2879   2004-12-26 23:59:30
Name: date1, Length: 2880, dtype: datetime64[ns]

In [ ]:
# (c.)

### (2)  Practice with decoding time in Pandas, Part II
**Instructions**
- (a.) Read in radiation data collected every 30 minutes near Champaign ('889299_40.13_-88.26_2019.csv')....since you've been working with different types of radiation data lately!
    - You WILL need to add something extra to your pd.read_csv statement, yes?
<br><br>
- (b.) Take columns containing date-time information and create *datetime64* objects, save to a new column, print this new column, and print the type of the new column
<br><br>
- (c.) We'll work more with this data soon - likely next week!

In [35]:
# (a.)
df = pd.read_csv('data/week10/889299_40.13_-88.26_2019.csv',
                parse_dates={'date': [1, 2, 3, 4, 5]})
df

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,45) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,date,Source,Longitude,Time Zone,Elevation,Local Time Zone,Clearsky DHI Units,Clearsky DNI Units,Clearsky GHI Units,Dew Point Units,...,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,889299 - - - 40.13,NSRDB,-88.26,-6,230,-6,w/m2,w/m2,w/m2,c,...,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,3.1.1
1,Month Day Hour Minute DHI,Year,DNI,GHI,Surface Albedo,Temperature,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 1 0 0 0,2019,0,0,0.15,-0.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 1 0 30 0,2019,0,0,0.15,-0.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 1 1 0 0,2019,0,0,0.15,-1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17517,12 31 21 30 0,2019,0,0,0.15,0.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17518,12 31 22 0 0,2019,0,0,0.15,0.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17519,12 31 22 30 0,2019,0,0,0.15,-0.1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17520,12 31 23 0 0,2019,0,0,0.15,-0.4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17521,12 31 23 30 0,2019,0,0,0.15,-0.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# (b.)

In [ ]:
# (c.)